@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
  margin: 0;
}

.index-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.yellow-button {
  min-height: 20px;
  color: #000000;
  text-decoration: none;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 5;

}

.yellow-button::before {
  content: "";
  width: calc(100% - 4px);
  height: 8px;
  background-color: #ffe17f;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: height 0.5s;
}



.yellow-button:hover::before {
  height: 100%;
}

.yellow-button:focus-visible {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .yellow-button:focus {
    outline: 2px solid #af4fff;
  }

}

.yellow-button:active {
  background-color: #ffcc33;
  transition-duration: 0.3s;
}

.yellow-button-disabled {
  opacity: 0.3;
  cursor: auto;
}

.yellow-button-disabled:hover::before {
  height: 8px;
  transition-duration: 0s;
}

.yellow-button-disabled:focus {
  outline: none;
}

.yellow-button-disabled:active {
  background-color: #ffe17f;
}

.header {
  margin: 0 auto;
  width: 1160px;
  position: relative;
  background-color: #ffe17f;
  box-sizing: border-box;
  padding: 46px 45px 0 62px;
}

.logo-link {
  position: absolute;
  top: -20px;
  left: 61px;
}

.logo-link:hover {
  opacity: 0.6;
}

.logo-link:focus-visible {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .logo-link:focus {
    outline: 2px solid #af4fff;
  }
}

.logo-link:active {
  opacity: 0.3;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 39px 0;
  margin-bottom: 29px;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-right: 27px;
}

.search-field-label {
  position: relative;
}

.search-field-label::after {
  content: "";
  width: 364px;
  height: calc(100% + 8px);
  position: absolute;
  top: -4px;
  right: -4px;
}

.search-field {
  width: 357px;
  min-height: 40px;
  box-sizing: border-box;
  padding: 0 15px 0 46px;
  color: #000000;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  border-radius: 50px 0 0 50px;
  border: 2px solid #000000;
  border-right: 1px solid #000000;
  background-color: transparent;
  background-image: url("../img/icons/search.svg");
  background-position: top 50% left 14px;
  background-size: auto;
  background-repeat: no-repeat;
}

.search-field::placeholder {
  color: hsla(0, 0%, 0%, 0.3);
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
}

.search-field:hover {
  opacity: 0.3;
}

.search-field:focus {
  outline: none;
}

.search-field:focus + .search-field-label::after {
  outline: 2px solid #af4fff;
}

.search-field:active {
  opacity: 0.3;
}

.search-field:disabled {
  opacity: 0.3;
}

.search-button {
  width: 158px;
  box-sizing: border-box;
  padding: 7px 10px 7px 10px;
  color: #000000;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  border-radius: 0 50px 50px 0;
  border: 2px solid #000000;
  border-left: 1px solid #000000;
  background-color: transparent;
  position: relative;
}

.search-button::before {
  content: "";
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  position: absolute;
  top: -4px;
  left: -4px;
}

.search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.search-button:focus-visible {
  outline: none;
}

.search-button:focus-visible::before {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .search-button:focus {
    outline: none;
  }

  .search-button:focus::after {
    outline: 2px solid #af4fff;
  }
}

.search-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.search-button:disabled {
  opacity: 0.3;
}

.user-login-list {
  width: 236px;
  min-height: 40px;
  margin: 0 21px 0 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}

.user-login-item {
  display: none;
  max-width: 171px;
}

.user-login-active {
  display: block;
  box-sizing: border-box;
  padding: 0;
}

.user-login-link {
  text-decoration: none;
  color: #000000;
  position: relative;
  display: block;
  padding: 7px 5px 5px 5px;
}

.user-icon {
  padding-left: 27px;
}

.user-icon::before {
  content: "";
  height: 40px;
  width: 15px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/icons/user.svg");
  background-position: 0 14px;
  background-repeat: no-repeat;
  background-size: auto;
}


.login-link-exit {
  opacity: 0.3;
}

.user-login-link:hover {
  opacity: 0.6;
}

.user-login-link:focus-visible {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .user-login-link:focus {
    outline: 2px solid #af4fff;
  }
}

.user-login-link:active {
  opacity: 0.3;
}

.user-menu-list {
  margin: 0;
  padding: 0;
  width: 254px;
  min-height: 40px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-menu-item {
  position: relative;
}

.user-menu-link {
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 7px 14px 0 22px;
}

.compare {
  position: relative;
}

.compare::after {
  content: "";
  width: 20px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/icons/compare.svg");
  background-position: 0 14px;
  background-repeat: no-repeat;
  background-size: auto;
}

.cart {
  width: 132px;
  position: relative;
  box-sizing: border-box;
  padding-left: 44px;
}

.cart::after {
  content: "";
  width: 20px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 15px;
  background-image: url("../img/icons/cart.svg");
  background-position: 0 11px;
  background-repeat: no-repeat;
  background-size: auto;
}

.number-products {
  min-width: 22px;
  max-width: 40px;
  height: 22px;
  border-radius: 11px;
  background-color: #ffffff;
  font-size: 14px;
  line-height: normal;
  position: absolute;
  top: 8px;
  right: 110px;
  box-sizing: border-box;
  padding: 3px 5px;
  text-align: center;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 5;
}

.user-menu-link:hover {
  opacity: 0.6;
}

.user-menu-link:focus-visible {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .user-menu-link:focus {
    outline: 2px solid #af4fff;
  }
}

.user-menu-link:active {
  opacity: 0.3;
}

.popover-cart-wrap {
  width: 320px;
  min-height: 85px;
  display: none;
  position: absolute;
  top: 100%;
  left: -125px;
  z-index: 15;
}

.popover-cart {
  background-color: #000000;
  padding-bottom: 10px;

}

.popover-cart::before {
  content: "";
  border: 8px solid transparent;
  border-bottom: 9px solid #000000;
  position: absolute;
  left: 50%;
  margin-left: -7px;
  top: -16px;
}

.popover-product-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.popover-product-item {
  position: relative;
  box-sizing: border-box;
  padding: 20px 43px 21px 20px;
}

.popover-product-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

.popover-product-link:hover {
  opacity: 0.6;
}

.popover-product-link:focus-visible {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .popover-product-link:focus {
    outline: 2px solid #af4fff;
  }
}

.popover-product-link:active {
  opacity: 0.3;
}

.popover-product-image {
  width: 39px;
  object-fit: cover
}

.popover-product-name {
  width: 172px;
}

.popover-product-delete {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
  top: 18px;
  right: 19px;
  cursor: pointer;
}

.popover-product-delete::before,
.popover-product-delete::after {
  content: "";
  width: 14px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -7px;
}

.popover-product-delete::before {
  content: "";
  transform: rotate(-45deg);
}

.popover-product-delete::after {
  content: "";
  transform: rotate(45deg);
}

.popover-product-delete:hover {
  opacity: 0.6;
}

.popover-product-delete:focus-visible {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .popover-product-delete:focus {
    outline: 2px solid #af4fff;
  }
}

.popover-product-delete:active {
  opacity: 0.3;
}

.popover-footer-list {
  width: 320px;
  min-height: 44px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #1A1A1A;
  margin: 0 0 18px;
  box-sizing: border-box;
  padding: 0 16px 0 14px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 45px;
}

.popover-footer-item {
  padding: 11px 5px;
}

.popover-button {
  width: 280px;
  min-height: 50px;
  text-decoration: none;
  background-color: #ffffff;
  color: #000000;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding: 14px 10px 10px;
  margin: 0 auto 11px;
  position: relative;
}

.popover-button::before {
  content: "";
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  position: absolute;
  top: -4px;
  left: -4px;
}

.popover-button:hover {
  background-color: #ffe17f;
}

.popover-button:focus-visible {
  outline: none;
}

.popover-button:focus-visible::before {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .popover-button:focus {
    outline: 2px solid #af4fff;
  }

  .popover-button:focus-visible::before {
    outline: 2px solid #af4fff;
  }
}

.popover-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.popover-button-disabled {
  color: rgba(0, 0, 0, 0.3);
}

.popover-button-disabled:hover {
  background-color: #ffffff;
}

.popover-button:focus-visible {
  outline: none;
}

.popover-button:focus-visible::before {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .popover-button-disabled:focus {
    outline: none;
  }

  .popover-button:focus-visible::before {
    outline: 2px solid #af4fff;
  }
}

.popover-button-disabled:active {
  color: #000000;
}

.user-menu-item:hover .popover-cart-wrap {
  display: block;
}

.user-menu-item:focus-within .popover-cart-wrap {
  display: block;
}


.catalog-button {
  width: 540px;
  min-height: 50px;
  margin-right: 27px;
  position: relative;
}

.catalog-button-link-wrap {
  display: inline-block;
  height: 50px;
  position: relative;
  z-index: 10;
}

.catalog-button-link {
  min-height: 100%;
  color: #000000;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding: 17px 64px 17px 0;

}

.catalog-button-link::after {
  content: "";
  width: 46px;
  height: 46px;
  border-radius: 23px;
  border: 2px solid #000000;
  position: absolute;
  top: 4px;
  right: 0;
  background-image: url("../img/index/plus.svg");
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 0.3;

}

.catalog-button-link:hover::after {
  background-image: url("../img/index/minus.svg");
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 1;
}

.catalog-button:focus-within .catalog-button-link::after {
  background-image: url("../img/index/minus.svg");
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 1;
}

.catalog-button-link:focus-visible {
  outline: 2px solid #af4fff;
}

.catalog-button-link:focus-visible::after {
  background-image: url("../img/index/minus.svg");
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 1;
}


@supports not selector(:focus-visible) {

  .catalog-button-link:focus {
    outline: 2px solid #af4fff;
  }

  .catalog-button-link:focus::after {
    background-image: url("../img/index/minus.svg");
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
    opacity: 1;
  }
}

.catalog-button-link:active::after {
  background-image: url("../img/index/minus.svg");
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 1;
}

.catalog-menu-wrap {
  display: none;
  position: absolute;
  top: 44px;
  left: -62px;
  z-index: 10;
}

.catalog-menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 10px;
  width: 1160px;
  min-height: 155px;
  background-color: #ffe17f;
  margin: 0;
  box-sizing: border-box;
  padding: 0 60px 20px;
  list-style-type: none;

}

.catalog-menu-item {
  width: 222px;
}

.catalog-menu-mark {
  box-sizing: border-box;
  padding-left: 21px;
}

.catalog-menu-link {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  padding: 9px 5px 9px 0;
  position: relative;
}

.active-catalog-menu::after {
  content: "";
  width: 100%;
  height: 1px;
  border-bottom: 2px solid #000000;
  position: absolute;
  left: 0;
  bottom: 4px;
}


.catalog-menu-link:hover {
  opacity: 0.6;
}

.catalog-menu-link:focus-visible {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .catalog-menu-link:focus {
    outline: 2px solid #af4fff;
  }
}

.catalog-menu-link:active {
  opacity: 0.3;
}

.catalog-button-link:hover + .catalog-menu-wrap,
.catalog-button-link-wrap:hover + .catalog-menu-wrap,
.catalog-menu-wrap:hover {
  display: block;
}

.catalog-button:focus-within .catalog-menu-wrap {
  display: block;
}


.general-information-list {
  width: 476px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
}

.general-information-item {
  width: 152px;
}

.general-information-item-guarantee {
  box-sizing: border-box;
  padding-left: 10px;
}

.general-information-item-contact {
  text-align: right;
}

.general-information-link {
  color: #000000;
  display: inline-block;
  font-family: R"Raleway", Arial, Helvetica, sans-serif;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 4px 0;
  position: relative;
  text-align: right;
}



.active-menu::after {
  content: "";
  width: 100%;
  height: 1px;
  border-bottom: 2px solid #000000;
  position: absolute;
  left: 0;
  bottom: 0;
}


.general-information-link:hover {
  opacity: 0.6;
}

.general-information-link:focus-visible {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .general-information-link:focus {
    outline: 2px solid #af4fff;
  }
}

.general-information-link:active {
  opacity: 0.3;
}

.main {
  flex-grow: 1;
}

.slider {
  margin: 0 auto;
  width: 1160px;
  position: relative;
}



.slier-wrapper {
  width: 1160px;
  margin: 0 auto;
  position: relative;
}

.slide {
  display: none;
}

.slide-active {
  display: block;
}

.slide-number {
  width: 100%;
  height: 94px;
  display: block;
  background-color: #ffe17f;
  color: #ffffff;
  text-align: right;
  font-size: 180px;
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 25px 48px 0 0;
  z-index: 0;
}

.slide-list {
  margin: 0 0 11px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 5;
}

.slide-item {}

.slide-item-photo {
  width: 560px;
  position: relative;
}

.slide-item-description {
  width: 600px;
  box-sizing: border-box;
  padding: 65px 10px 10px 40px;
}

.slide-image {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  position: absolute;
  top: -57px;
  left: 50%;
  margin-left: -50%;
}

.slide-title {
  margin: 0 0 30px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.slide-text {
  margin: 0 0 48px;
}

.more-detailed {
  margin-bottom: 50px;
  box-sizing: border-box;
  padding: 10px 40px;
}

.slide-specifications-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 50px 10px;
}

.slide-specifications-item {
  width: 150px;

}

.specifications-title {
  margin: 0;
  font-size: 36px;
  color: #000000;
  margin-bottom: 12px;
}

.specifications-description {
  margin: 0;
  font-size: 16px;
}

.button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.slide-button {
  width: 20px;
  height: 60px;
  background-image: url("../img/icons/arrow.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  z-index: 15;
}

.previous {
  position: absolute;
  top: 155px;
  left: 30px;
}

.next {
  transform: rotate(180deg);
  position: absolute;
  top: 155px;
  left: 540px;
}

.bullits-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slide-button:hover {
  opacity: 0.6;
}

.slide-button:focus-visible {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .slide-button:focus {
    outline: 2px solid #af4fff;
  }
}

.slide-button:active {
  opacity: 0.3;
}

.slide-button:disabled {
  opacity: 0.1;
}

.bullits-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 11px;
}

.bullits-item {
  width: 20px;
  height: 20px;
  position: relative;
}

.bullits-button {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  border: 2px solid #000000;
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -6px;
}

.bullits-button-active {
  background-color: #000000;
}

.bullits-button:hover {
  opacity: 0.6;
}

.bullits-button:focus-visible {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .bullits-button:focus {
    outline: 2px solid #af4fff;
  }
}

.bullits-button:active {
  opacity: 0.3;
}

.bullits-button:disabled {
  opacity: 0.1;
}

.product-categories {
  width: 1160px;
  margin: 0 auto 82px;
  padding-top: 67px;
}

.product-categories-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.product-categories-item {
  width: 160px;
}

.product-categories-link {
  display: block;
  text-decoration: none;
}

.product-categories-link::before {
  content: "";
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  display: block;
  margin-bottom: 32px;
}

.categories-vr::before {
  content: "";
  background-image: url("../img/icons/categories-icons-1.svg");
  background-position: 50% 50%;
  background-repeat: repeat;
  background-size: cover;
}

.categories-monopods::before {
  content: "";
  background-image: url("../img/icons/categories-icons-2.svg");
  background-position: 50% 50%;
  background-repeat: repeat;
  background-size: cover;
}

.categories-action-cameras::before {
  content: "";
  background-image: url("../img/icons/categories-icons-3.svg");
  background-position: 50% 50%;
  background-repeat: repeat;
  background-size: cover;
}

.categories-fitness-bracelets::before {
  content: "";
  background-image: url("../img/icons/categories-icons-4.svg");
  background-position: 50% 50%;
  background-repeat: repeat;
  background-size: cover;
}

.categories-smart-watches::before {
  content: "";
  background-image: url("../img/icons/categories-icons-5.svg");
  background-position: 50% 50%;
  background-repeat: repeat;
  background-size: cover;
}

.categories-quadrocopters::before {
  content: "";
  background-image: url("../img/icons/categories-icons-6.svg");
  background-position: 50% 50%;
  background-repeat: repeat;
  background-size: cover;
}

.product-categories-title {
  color: #000000;
  margin: 0;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  line-height: 24px;
  letter-spacing: -0.36px;
}

.product-categories-link:hover::before {
  background-color: #ffc700;
}


.product-categories-link:focus-visible {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .product-categories-link:focus {
    outline: 2px solid #af4fff;
  }
}

.product-categories-link:active {
  opacity: 0.3;
}

.services {}

.services-wrapper {
  position: relative;
  padding-bottom: 69px;
  margin-bottom: 72px;
}

.services-wrapper::before {
  content: "";
  min-width: 1160px;
  width: 100%;
  height: calc(100% - 103px);
  background-color: #f0f0f0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.list-services {
  margin: 0 auto;
  width: 1160px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretchs;

}



.services-links-list {
  margin: 0;
  padding: 65px 0 33px;
  list-style-type: none;
  width: 280px;
  border-right: 8px solid #000000;
}

.services-links-items {
  margin-bottom: 34px;
}

.services-links-link {
  min-width: 162px;
  box-sizing: border-box;
  padding: 10px 20px;
}

.services-link-active {
  text-align: left;
  min-height: 20px;
  color: #ffe17f;
  background-color: #000000;
  display: block;
  padding: 9px 10px 10px 17px;
  text-decoration: none;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  position: relative;
  transition: padding-left 0.5s;
}

.services-link-active::before {
  content: "";
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  position: absolute;
  top: -4px;
  left: -4px;
}

.services-link-active:hover {
  padding-left: 43px;
}

.services-link-active:focus-visible::before {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .services-link-active:focus::before {
    outline: 2px solid #af4fff;
  }
}

.services-link-active:active {
  padding-left: 43px;
}

.services-description-list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  width: 872px;
}

.services-description-item {
  display: none;
  padding: 74px 278px 35px 115px;
}

.services-description-active {
  display: block;
}

.services-description-delivery {
  position: relative;
}

.services-description-delivery::after {
  content: "";
  width: 200px;
  height: 200px;
  background-image: url("../img/index/delivery.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  top: 60px;
  right: 30px;

}

.services-description-guarantee {
  position: relative;
}

.services-description-guarantee::after {
  content: "";
  width: 200px;
  height: 200px;
  background-image: url("../img/index/guarantee.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  top: 60px;
  right: 30px;
}

.services-description-credit {
  position: relative;
}

.services-description-credit::after {
  content: "";
  width: 200px;
  height: 200px;
  background-image: url("../img/index/credit.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  top: 60px;
  right: 30px;
}

.services-description-title {
  color: #000000;
  margin: 0 0 35px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.services-description-text {
  margin: 0;
}

.services-delivery-link {
  width: 1160px;
  min-height: 100px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 68px;
  color: #000000;
  text-align: center;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 15px 150px;
  background-color: #f0f0f0;

  position: relative;
}

.services-delivery-link::before {
  content: "";
  width: 125px;
  height: 100%;
  background-color: #ffe17f;
  background-image: url("../img/icons/car.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  top: 0;
  left: 0;
}


.services-delivery-link::after {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(220, 220, 220, 0.50);
  background-image: url("../img/icons/info-icon.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  opacity: 0.3;
  top: 28px;
  right: 43px;
}


.services-delivery-link:hover::before {
  background-color: #ffc700;
}

.services-delivery-link:hover::after {
  opacity: 1;
}

.services-delivery-link:focus-visible {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .services-delivery-link:focus {
    outline: 2px solid #af4fff;
  }
}

.services-delivery-link:active {
  opacity: 0.3;
}

.information {
  margin: 0 auto 39px;
  width: 1160px;
  display: flex;
  flex-wrap: wrap;
  gap: 127px;
}

.information-wrap {
  width: 530px;
  position: relative;
  box-sizing: border-box;
  padding: 49px 10px 30px 0;
}

.about {
  width: 500px;
}

.information-wrap::before {
  content: "";
  width: 84px;
  height: 7px;
  background: #000000;
  position: absolute;
  top: 0;
  left: 0;


}

.information-title {
  margin: 0 0 47px;
  color: #000000;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.information-text {
  margin: 0 0 30px;
}

.information-time {
  margin-bottom: 0;
}

.information-lists {
  margin: 0 0 27px;
  padding: 0;
  list-style-type: none;
}

.information-item {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  padding-left: 38px;
  margin-bottom: 20px;
  position: relative;
}

.information-item::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #ffc700;
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 3px;
}

.about-link {
  min-width: 150px;
  box-sizing: border-box;
  padding: 10px 23px;
}

.contacts-link {
  min-width: 150px;
  box-sizing: border-box;
  padding: 10px 34px;
}

.information-small-title {
  margin: 0 0 16px;
  font-size: 24px;
  font-weight: 700;
}

.information-margin {
  margin-bottom: 27px;
}

.phone {
  color: inherit;
}

.subscribe {
  background-color: #f0f0f0;
}

.subscribe-wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 65px 0 56px;
  display: flex;
  flex-wrap: wrap;
  gap: 135px 30px;
}

.subscribe-title {
  width: 520px;
  margin: 0;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 50px;
  line-height: 50px;
  box-sizing: border-box;
  padding: 0 100px 0 6px;
}

.subscribe-text {
  width: 600px;
  margin: 0;
  color: #000000;
  box-sizing: border-box;
  padding: 10px 15px 10px 57px;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
}


.subscribe-email {
  width: 558px;
  min-height: 55px;
  box-sizing: border-box;
  padding: 5px 20px 4px 13px;
  border: 3px solid transparent;
  border-bottom: 3px solid #c4c4c4;
  background-color: #f0f0f0;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}

.subscribe-email-alarm {
  border-bottom: 3px solid #ff3d3d;

}

.subscribe-form::placeholder {
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  opacity: 0.5;
}

.subscribe-email:hover {
  background-color: #dcdcdc;
}

.subscribe-email:focus-visible {
  outline: none;
  background-color: #dcdcdc;
}

@supports not selector(:focus-visible) {
  .subscribe-email:focus {
    outline: none;
    background-color: #dcdcdc;
  }
}

.subscribe-email:disabled {
  opacity: 0.3;
}

.subscribe-button {
  width: 253px;
  border: 3px solid #c4c4c4;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: center;
  transition: background-color 0.5s, color 2s;
}

.subscribe-button:hover {
  border: 3px solid #000000;
  background-color: #000000;
  color: #ffffff;
}

.subscribe-button:focus-visible {
  outline: 2px solid #af4fff
}

@supports not selector(:focus-visible) {
  .subscribe-button:focus {
    outline: 2px solid #af4fff
  }
}

.subscribe-button:active {
  border: 3px solid #000000;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
  transition: color 0s;
}

.signature-wrap {
  width: 317px;
  text-align: right;
}

.subscribe-signature {
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
  padding: 13px 0 10px 10px;
  color: #000000;
  position: relative;

}

.subscribe-signature::before {
  content: "";
  width: 30px;
  height: 100%;
  background-image: url("../img/icons/marking.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  top: 0;
  left: -30px;
}

.footer {
  background-color: #444444;
}

.footer-wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 62px 0 0;
}

.footer-logo {
  display: inline-block;
  color: #ffc700;
  transition: color 1s;
}

.footer-logo:hover {
  color: #ffffff
}

.footer-logo:focus-visible {
  outline: 2px solid #af4fff
}

@supports not selector(:focus-visible) {
  .footer-logo:focus {
    outline: 2px solid #af4fff
  }
}

.footer-logo:active {
  color: #ffffff;
  opacity: 0.3;
  transition: color 0s;
}

.footer-contacts {
  padding: 26px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

.footer-address {
  width: 250px;
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}

.footer-information-list {
  min-width: 480px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.footer-information-item {
  width: 143px;
  box-sizing: border-box;
  padding: 0 8px;
}

.footer-information-link {
  text-decoration: none;
  color: #ffffff;
  font-family: Raleway;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.footer-information-link:hover {
  color: #ffc700;
  border-bottom: 2px solid #ffc700;
}

.footer-information-link:focus-visible {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .footer-information-link:focus-visible {
    outline: 2px solid #af4fff;
  }
}

.footer-information-link:active {
  opacity: 0.3;
}

.footer-phone {
  width: 250px;
  text-align: right;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
  padding: 6px 0;
  transition: color 0.5s;
}

.footer-phone:hover {
  color: #ffc700;
}

.footer-phone:focus-visible {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .footer-phone:focus {
    outline: 2px solid #af4fff;
  }
}

.footer-phone:active {
  opacity: 0.3;
}

.footer-social {
  width: 1160px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 54px;
  gap: 30px 0;
}

.footer-social::before {
  content: "";
  width: 80px;
  height: 18px;
  border-bottom: 7px solid #ffc700;
  display: block;
  margin-right: 70px;
}

.footer-social-list {
  width: 860px;
  margin: 0;
  box-sizing: border-box;
  padding: 0 60px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.footer-social-link {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;
  background-color: rgba(255, 255, 255, 0.30);
  color: #444444;
}

.footer-social-link:hover {
  background-color: #ffc700;
}

.footer-social-link:focus-visible {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .footer-social-link:focus {
    outline: 2px solid #af4fff;
  }
}

.footer-social-link:active {
  background-color: rgba(255, 255, 255, 0.30);
  opacity: 0.3;
}

.logo-html-link {
  color: #FFC700;
  width: 150px;
  padding-top: 4px;
  text-align: right;
}

.logo-html-link:hover {
  color: #ffffff
}

.logo-html-link:focus-visible {
  outline: 2px solid #af4fff
}

@supports not selector(:focus-visible) {
  .logo-html-link:focus {
    outline: 2px solid #af4fff
  }
}

.logo-html-link:active {
  color: #ffffff;
  opacity: 0.3;
  transition: color 0s;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.90);
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-window {
  width: 900px;
  min-height: 400px;
  border: 10px solid #000000;
  background-color: #ffffff;
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.10);
  position: relative;
}

.modal-close {
  display: none;
}

.modal-close-button {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 76px;
  right: 70px;
}

.modal-close-button::before,
.modal-close-button::after {
  content: "";
  width: 34px;
  height: 4px;
  background-color: #000000;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  left: 50%;
  margin-left: -17px;
}

.modal-close-button::before {
  transform: rotate(45deg);
}

.modal-close-button::after {
  transform: rotate(-45deg);
}

.modal-content {
  padding: 64px 70px;
}

.modal-title {
  margin: 0 0 42px;
  color: #000000;
  font-family: Raleway;
  font-size: 50px;
  line-height: 50px;
}

.modal-form {}

.form-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 43px 40px;
  margin-bottom: 40px;
}

.field-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  display: block;
  margin-bottom: 13px;
}



.field-modal {
  width: 100%;
  height: 60px;
  color: #000000;
  box-sizing: border-box;
  padding: 0 45px 0 20px;
  border: 2px solid transparent;
  background-color: rgb(240, 240, 240);
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
}

.field-modal::placeholder {
  color: #000000;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.3;
}

.field-modal-alarm {
  border: 2px solid #ff3d3d;
}

.field-number {
  width: 60px;
  -moz-appearance: textfield;
  margin: 0;
  padding: 0;
  text-align: center;
}

.field-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.field-message {
  display: none;
  color: #FF3D3D;
  font-size: 14px;
  line-height: 20px;
}

.message-alarm {
  display: block;
}

.quantity-title-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
}

.quantity-field-wrap {
  display: flex;
  flex-wrap: wrap;
}

.button-information-wrap {}

.button-quantity-information {
  position: relative;
}

.button-quantity-information::before {
  content: "";
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background-color: rgb(255, 225, 127);
  background-image: url("../img/icons/info-icon.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  bottom: 0;
  left: 0;
}

.button-quantity {
  width: 60px;
  height: 60px;
  background-color: rgb(240, 240, 240);
}

.button-minus {
  position: relative;
}

.button-minus::before {
  content: "";
  width: 16px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -8px;
}

.button-plus {
  position: relative;
}

.button-plus::before,
.button-plus::after {
  content: "";
  width: 16px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -8px;
}

.button-plus::after {
  transform: rotate(90deg);
}

.field-name-wrap {
  width: 360px;
  position: relative;
}

.field-name-wrap:after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/icons/user-name.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  top: 53px;
  right: 16px;
}

.field-email-wrap {
  width: 360px;
  position: relative;
}

.field-email-wrap:after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/icons/email.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  top: 53px;
  right: 16px;
}


.field-order-wrap {
  width: 540px;
}

.field-quantity-wrap {}

.modal-form-button {

  min-width: 162px;
  box-sizing: border-box;
  padding: 10px 31px;
}
