@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.yellow-button {
  min-height: 20px;
  color: #000000;
  text-decoration: none;
  font-family: Raleway;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  position: relative;
}

.yellow-button::before {
  content: "";
  width: calc(100% - 4px);
  height: 8px;
  background-color: #ffe17f;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -5;
  transition-duration: 0.5s;
}



.yellow-button:hover::before {
  height: 100%;
  transition-duration: 0.5s;
}

.yellow-button:focus-visible {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .yellow-button:focus {
    outline: 2px solid #af4fff;
  }

}

.yellow-button:active {
  background-color: #ffcc33;
  transition-duration: 0.3s;
}

.yellow-button-disabled {
  opacity: 0.3;
  cursor: auto;
}

.yellow-button-disabled:hover::before {
  height: 8px;
  transition-duration: 0s;
}

/* .yellow-button-disabled:focus {
  outline: none;
} */

.yellow-button-disabled:active {
  background-color: #ffe17f;
}

.header {
  margin: 0 auto;
  width: 1160px;
  position: relative;
  background-color: #ffe17f;
  box-sizing: border-box;
  padding: 46px 45px 0 62px;
}

.logo-link {
  position: absolute;
  top: -20px;
  left: 61px;
}

.logo-link:hover {
  opacity: 0.6;
}

.logo-link:focus-visible {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .logo-link:focus {
    outline: 2px solid #af4fff;
  }
}

.logo-link:active {
  opacity: 0.3;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 39px 0;
  margin-bottom: 29px;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-right: 27px;
}

.search-field-label {
  position: relative;
}

.search-field-label::after {
  content: "";
  width: 364px;
  height: calc(100% + 8px);
  position: absolute;
  top: -4px;
  right: -4px;
}

.search-field {
  width: 357px;
  min-height: 40px;
  box-sizing: border-box;
  padding: 0 15px 0 46px;
  color: #000000;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  border-radius: 50px 0 0 50px;
  border: 2px solid #000000;
  border-right: 1px solid #000000;
  background-color: transparent;
  background-image: url("../img/icons/search.svg");
  background-position: top 50% left 14px;
  background-size: auto;
  background-repeat: no-repeat;
}

.search-field::placeholder {
  color: hsla(0, 0%, 0%, 0.3);
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
}

.search-field:hover {
  opacity: 0.3;
}

.search-field:focus {
  outline: none;
}

.search-field:focus + .search-field-label::after {
  outline: 2px solid #af4fff;
}

.search-field:active {
  opacity: 0.3;
}

.search-field:disabled {
  opacity: 0.3;
}

.search-button {
  width: 158px;
  box-sizing: border-box;
  padding: 7px 10px 7px 10px;
  color: #000000;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  border-radius: 0 50px 50px 0;
  border: 2px solid #000000;
  border-left: 1px solid #000000;
  background-color: transparent;
  position: relative;
}

.search-button::before {
  content: "";
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  position: absolute;
  top: -4px;
  left: -4px;
}

.search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.search-button:focus-visible {
  outline: none;
}

.search-button:focus-visible::before {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .search-button:focus {
    outline: none;
  }

  .search-button:focus::after {
    outline: 2px solid #af4fff;
  }
}

.search-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.search-button:disabled {
  opacity: 0.3;
}

.user-login-list {
  width: 236px;
  min-height: 40px;
  margin: 0 21px 0 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}

.user-login-item {
  display: none;
  max-width: 171px;
}

.user-login-active {
  display: block;
  box-sizing: border-box;
  padding: 0;
}

.user-login-link {
  text-decoration: none;
  color: #000000;
  position: relative;
  display: block;
  padding: 7px 5px 5px 5px;
}

.user-icon {
  padding-left: 27px;
}

.user-icon::before {
  content: "";
  height: 40px;
  width: 15px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/icons/user.svg");
  background-position: 0 14px;
  background-repeat: no-repeat;
  background-size: auto;
}


.login-link-exit {
  opacity: 0.3;
}

.user-login-link:hover {
  opacity: 0.6;
}

.user-login-link:focus-visible {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .user-login-link:focus {
    outline: 2px solid #af4fff;
  }
}

.user-login-link:active {
  opacity: 0.3;
}

.user-menu-list {
  margin: 0;
  padding: 0;
  width: 254px;
  min-height: 40px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-menu-item {
  position: relative;
}

.user-menu-link {
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 7px 14px 0 22px;
}

.compare {
  position: relative;
}

.compare::after {
  content: "";
  width: 20px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/icons/compare.svg");
  background-position: 0 14px;
  background-repeat: no-repeat;
  background-size: auto;
}

.cart {
  width: 132px;
  position: relative;
  box-sizing: border-box;
  padding-left: 44px;
}

.cart::after {
  content: "";
  width: 20px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 15px;
  background-image: url("../img/icons/cart.svg");
  background-position: 0 11px;
  background-repeat: no-repeat;
  background-size: auto;
}

.number-products {
  min-width: 22px;
  max-width: 40px;
  height: 22px;
  border-radius: 11px;
  background-color: #ffffff;
  font-size: 14px;
  line-height: normal;
  position: absolute;
  top: 8px;
  right: 110px;
  box-sizing: border-box;
  padding: 3px 5px;
  text-align: center;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 5;
}

.user-menu-link:hover {
  opacity: 0.6;
}

.user-menu-link:focus-visible {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .user-menu-link:focus {
    outline: 2px solid #af4fff;
  }
}

.user-menu-link:active {
  opacity: 0.3;
}

.popover-cart {
  display: none;
  width: 320px;
  min-height: 85px;
  position: absolute;
  top: 41px;
  left: -125px;
  background-color: #000000;
  z-index: 15;
}

.popover-cart::before {
  content: "";
  border: 8px solid transparent;
  border-bottom: 9px solid #000000;
  position: absolute;
  left: 50%;
  margin-left: -7px;
  top: -16px;
}

.popover-product-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.popover-product-item {
  position: relative;
  box-sizing: border-box;
  padding: 20px 43px 21px 20px;
}

.popover-product-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

.popover-product-link:hover {
  opacity: 0.6;
}

.popover-product-link:focus-visible {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .popover-product-link:focus {
    outline: 2px solid #af4fff;
  }
}

.popover-product-link:active {
  opacity: 0.3;
}

.popover-product-image {
  width: 39px;
  object-fit: cover
}

.popover-product-name {
  width: 172px;
}

.popover-product-delete {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
  top: 18px;
  right: 19px;
  cursor: pointer;
}

.popover-product-delete::before,
.popover-product-delete::after {
  content: "";
  width: 14px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -7px;
}

.popover-product-delete::before {
  content: "";
  transform: rotate(-45deg);
}

.popover-product-delete::after {
  content: "";
  transform: rotate(45deg);
}

.popover-product-delete:hover {
  opacity: 0.6;
}

.popover-product-delete:focus-visible {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .popover-product-delete:focus {
    outline: 2px solid #af4fff;
  }
}

.popover-product-delete:active {
  opacity: 0.3;
}

.popover-footer-list {
  width: 320px;
  min-height: 44px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #1A1A1A;
  margin: 0 0 18px;
  box-sizing: border-box;
  padding: 0 16px 0 14px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 45px;
}

.popover-footer-item {
  padding: 11px 5px;
}

.popover-button {
  width: 280px;
  min-height: 50px;
  text-decoration: none;
  background-color: #ffffff;
  color: #000000;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding: 14px 10px 10px;
  margin: 0 auto 20px;
  position: relative;
}

.popover-button::before {
  content: "";
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  position: absolute;
  top: -4px;
  left: -4px;
}

.popover-button:hover {
  background-color: #ffe17f;
}

.popover-button:focus-visible {
  outline: none;
}

.popover-button:focus-visible::before {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .popover-button:focus {
    outline: 2px solid #af4fff;
  }

  .popover-button:focus-visible::before {
    outline: 2px solid #af4fff;
  }
}

.popover-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.popover-button-disabled {
  color: rgba(0, 0, 0, 0.3);
}

.popover-button-disabled:hover {
  background-color: #ffffff;
}

.popover-button:focus-visible {
  outline: none;
}

.popover-button:focus-visible::before {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .popover-button-disabled:focus {
    outline: none;
  }

  .popover-button:focus-visible::before {
    outline: 2px solid #af4fff;
  }
}

.popover-button-disabled:active {
  color: #000000;
}

.user-menu-item:hover .popover-cart {
  display: block;
}

.user-menu-item:focus-within .popover-cart {
  display: block;
}


.catalog-button {
  width: 540px;
  min-height: 50px;
  margin-right: 27px;
  position: relative;
  z-index: 10;
}

.catalog-button-link {
  min-height: 100%;
  color: #000000;
  font-family: Raleway;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding: 17px 64px 17px 0;

}

.catalog-button-link::after {
  content: "";
  width: 46px;
  height: 46px;
  border-radius: 23px;
  border: 2px solid #000000;
  position: absolute;
  top: 4px;
  right: 0;
  background-image: url("../img/index/plus.svg");
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 0.3;

}

.catalog-button-link:hover::after {
  background-image: url("../img/index/minus.svg");
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 1;
}

.catalog-button:hover .catalog-button-link::after {
  background-image: url("../img/index/minus.svg");
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 1;
}

.catalog-button:focus-within .catalog-button-link::after {
  background-image: url("../img/index/minus.svg");
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 1;
}

.catalog-button-link:focus-visible {
  outline: 2px solid #af4fff;
}

.catalog-button-link:focus-visible::after {
  background-image: url("../img/index/minus.svg");
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 1;
}


@supports not selector(:focus-visible) {

  .catalog-button-link:focus {
    outline: 2px solid #af4fff;
  }

  .catalog-button-link:focus::after {
    background-image: url("../img/index/minus.svg");
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
    opacity: 1;
  }
}

.catalog-button-link:active::after {
  background-image: url("../img/index/minus.svg");
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 1;
}

.catalog-menu-list {
  display: none;
  flex-wrap: wrap;
  gap: 15px 10px;
  width: 1160px;
  min-height: 155px;
  background-color: #ffe17f;
  margin: 0;
  box-sizing: border-box;
  padding: 0 60px 20px;
  list-style-type: none;
  position: absolute;
  top: 44px;
  left: -62px;
  z-index: 10;
}

.catalog-menu-item {
  width: 222px;
}

.catalog-menu-mark {
  box-sizing: border-box;
  padding-left: 21px;
}

.catalog-menu-link {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  padding: 9px 5px 9px 0;
  position: relative;
}

.active-catalog-menu::after {
  content: "";
  width: 100%;
  height: 1px;
  border-bottom: 2px solid #000000;
  position: absolute;
  left: 0;
  bottom: 0;
}


.catalog-menu-link:hover {
  opacity: 0.6;
}

.catalog-menu-link:focus-visible {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .catalog-menu-link:focus {
    outline: 2px solid #af4fff;
  }
}

.catalog-menu-link:active {
  opacity: 0.3;
}

.catalog-button-link:hover + .catalog-menu-list,
.catalog-button:hover .catalog-menu-list {
  display: flex;
}

.catalog-button:focus-within .catalog-menu-list {
  display: flex;
}


.general-information-list {
  width: 475px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.general-information-item {}

.general-information-link {
  color: #000000;
  display: block;
  font-family: Raleway;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 4px 0;
  position: relative;
}

.active-menu::after {
  content: "";
  width: 100%;
  height: 1px;
  border-bottom: 2px solid #000000;
  position: absolute;
  left: 0;
  bottom: 0;
}


.general-information-link:hover {
  opacity: 0.6;
}

.general-information-link:focus-visible {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .general-information-link:focus {
    outline: 2px solid #af4fff;
  }
}

.general-information-link:active {
  opacity: 0.3;
}

.main {
  flex-grow: 1;
}

.slider {
  margin: 0 auto;
  width: 1160px;
  position: relative;
}

.slier-wrapper {
  width: 1160px;
  margin: 0 auto;
  position: relative;
}

.slide {}

.slide-number-1 {
  display: block;
}

.slide-number-2 {
  display: none;
}

.slide-number-3 {
  display: none;
}

.slide-number {
  width: 100%;
  height: 94px;
  display: block;
  background-color: #ffe17f;
  color: #ffffff;
  text-align: right;
  font-size: 180px;
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 25px 48px 0 0;
  z-index: 0;
}

.slide-list {
  margin: 0 0 11px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 5;
}

.slide-item {}

.slide-item-photo {
  width: 560px;
  position: relative;
}

.slide-item-description {
  width: 600px;
  box-sizing: border-box;
  padding: 65px 10px 10px 40px;
}

.slide-image {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  position: absolute;
  top: -57px;
  left: 50%;
  margin-left: -50%;
}

.slide-title {
  margin: 0 0 30px;
  font-family: Raleway;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.slide-text {
  margin: 0 0 48px;
}

.more-detailed {
  margin-bottom: 50px;
  box-sizing: border-box;
  padding: 10px 40px;
}

.slide-specifications-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 50px 10px;
}

.slide-specifications-item {
  width: 150px;

}

.specifications-title {
  margin: 0;
  font-size: 36px;
  color: #000000;
  margin-bottom: 12px;
}

.specifications-description {
  margin: 0;
  font-size: 16px;
}

.button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.slide-button {
  width: 20px;
  height: 60px;
  background-image: url("../img/icons/arrow.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  z-index: 15;
}

.previous {
  position: absolute;
  top: 155px;
  left: 30px;
}

.next {
  transform: rotate(180deg);
  position: absolute;
  top: 155px;
  left: 540px;
}

.bullits-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slide-button:hover {
  opacity: 0.6;
}

.slide-button:focus-visible {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .slide-button:focus {
    outline: 2px solid #af4fff;
  }
}

.slide-button:active {
  opacity: 0.3;
}

.slide-button:disabled {
  opacity: 0.1;
}

.bullits-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 11px;
}

.bullits-item {
  width: 20px;
  height: 20px;
  position: relative;
}

.bullits-button {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  border: 2px solid #000000;
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -6px;
}

.bullits-button-active {
  background-color: #000000;
}

.bullits-button:hover {
  opacity: 0.6;
}

.bullits-button:focus-visible {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .bullits-button:focus {
    outline: 2px solid #af4fff;
  }
}

.bullits-button:active {
  opacity: 0.3;
}

.bullits-button:disabled {
  opacity: 0.1;
}
